<div class="container-fluid" infinite-scroll="loadMore(false)" infinite-scroll-distance="1">
  <div class="row">
    <div class="col-md-2" id="left-menu">
      <ul class="list">
          <li class="list-item" ng-class="{active : item.active}" ng-repeat="item in menu">
              <a href="#/admin/{{item.action}}">{{item.title}}<span ng-if="adminTotal"> ({{adminTotal[item.action]}})</span></a>
          </li>
      </ul>
    </div>
    <div class="col-md-2" style="visibility: hidden;"></div>
    <div class="col-md-10">      
      <div id="movies">
          <div ng-repeat="movie in movies" class="movie">
              <a href="#/admin/edit/{{movie.id}}">
                  <img ng-src="posters/{{movie.localPoster ? movie.localPoster : movie.poster}}" />
                  <div class="title">{{(movie.title ? movie.title : movie.file).substr(0, 20)}}</div>
              </a>
          </div>
      </div>
    </div>
  </div>
</div>