html {
	height: 100%;
}

body {
	background: url("/images/pattern-background-3x3.png") repeat
		scroll 0 0 rgba(0, 0, 0, 0);
	font-family: "Lato", Helvetica, Arial, sans-serif;
	color: #34495e;
	font-size: 1rem;
	width: 100%;
	height: 100%;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a:HOVER {
	text-decoration: underline;
}

a:VISITED {
	color: inherit;
}

/* LEFT PANEL */
#panel-left-btn-bar {
	text-align: right;
}

#saved-searches-cntr,#new-search-cntr {
	padding: 5px;
	margin: 5px;
}

#saved-searches-list {
	list-style: none;
	padding: 0;
	margin: 5px;
	font-size: 0.9rem;
	display: table;
	width: 100%;
}

#saved-searches-list>li {
	display: table-row;
	cursor: pointer;
}

#saved-searches-list :FIRST-CHILD {
	padding-top: 0;
}

#saved-search-caption,#new-search-caption {
	position: relative;
}

#saved-search-caption:AFTER,#new-search-caption:AFTER {
	content: '';
	position: absolute;
	height: 1px;
	top: 100%;
	left: 0;
	right: 20px;
	background: #34495e;
	left: 0;
}

#panel-left {
	position: fixed;
	width: 400px;
	top: 0;
	bottom: 0;
	left: 0;
	-moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-o-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	background-color: #ffffff;
	z-index: 1;
	box-sizing: border-box;
	overflow: auto;
}

#collapse-filters-panel {
	width: 24px;
	height: 24px;
	background: url('/images/double-arrow-left.png') center
		center no-repeat;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

#panel-left.collapsed {
	width: 29px;
}

#panel-left.collapsed #collapse-filters-panel {
	background: url('/images/double-arrow-right.png') center
		center no-repeat;
}

#filters-list {
	border-collapse: collapse;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 5px;
}

#filters-list>li {
	margin: 5px 0;
}

#filters-list:FIRST-CHILD {
	margin-top: 0;
}

.filter-group {
	transition: all 2s;
	-webkit-transition: all 2s; /* Safari */
}

.filter-group-caption {
	background: #3498db;
	border: 1px solid #2980b9;
	border-bottom: none;
	padding: 5px;
	position: relative;
	cursor: pointer;
	color: white;
	font-weight: bold;
	font-size: 1.1rem;
}

.filter-group-caption:AFTER {
	content: '';
	width: 24px;
	height: 100%;
	position: absolute;
	right: 5px;
	top: 0px;
	background: url('/images/arrow-up.png') center center
		no-repeat;
}

.filter-group.collapsed .filter-group-caption {
	border-bottom: 1px solid #C9E1F4;
}

.filter-group.collapsed .filter-group-caption:AFTER {
	background: url('/images/arrow-down.png') center center
		no-repeat;
}

.filter-group-cnt {
	border: 1px solid #2980b9;
	border-top: none;
	list-style: none;
	padding: 0;
	margin: 0;
	display: table;
}

.filter-group-cnt>li {
	display: table-row;
}

.filter-label-cntr,.filter-value-cntr {
	display: table-cell;
	padding: 5px;
	text-align: center;
}

.filter-item-info {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url('/images/info.png') center center no-repeat;
	position : relative;
}

.filter-item-info-cnt {
	position: absolute;
	top: 50px;
	width: 200px;
	left: -92px;
	z-index: 3;
	box-sizing: border-box;
	white-space: normal;
}




.filter-label-cntr {
	white-space: nowrap;
	font-size: 0.7rem;
}

.filter-value-cntr {
	width: 100%;
}

.btn-bar {
	margin-top: 5px;
	text-align: center;
}

.btn-bar-wrapper {
	display: inline-block;
}

.btn-bar-wrapper>* {
	min-width: 100px;
}

#filters-list input[type="text"],#filters-list input[type="email"],#filters-list input[type="password"],#filters-list select
	{
	min-width: 100px;
	width: 100%;
	box-sizing: border-box;
}

#filters-list  select[name='widgetGroupId']{
	width: 69%;
	display: block;
	float : right;
}

#filters-list  select[name='widgetGroupOperator']{
	width: auto;
	min-width: initial;
	display: block;
	float: left;
	margin-left: 0;
	margin-right: 0;
}

#filters-list select[name="startDay"], #filters-list select[name="endDay"]{
	width: initial;
}


#saved-searches-list .caption {
	display: table-cell;
	vertical-align: middle;
	padding: 5px 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 340px;
}

#saved-searches-list .remove-btn {
	display: table-cell;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background: url('/images/remove-black.png') center center no-repeat;
	padding: 5px 0;
}

/* DATA table*/
#table-cntr {
	position: relative;
	left: 400px;
	padding : 10px;
	width: 70%;
}

#table-wrapper {
	clear: both;
}

#data-table {
	border-collapse: collapse;
	border-spacing: 0;
}

#data-table thead {
	background: none repeat scroll 0 0 #ecf0f1;
	font-size: 0.9rem;
}

#data-table thead td {
	padding: 10px;
}

#data-table thead td.sortable {
	padding: 10px 10px 10px 20px;
	cursor: pointer;
	position: relative;
}

#data-table thead td.sortable:AFTER {
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	top: 50%;
	left: 5px;
	margin-top: -5px;
	background: url('/images/sort.gif') center center no-repeat;
}

#data-table thead td.sorted.asc:BEFORE {
	content: none;
}

#data-table thead td.sorted.asc:AFTER {
	background: url('/images/asc.gif') center center no-repeat;
}

#data-table thead td.sorted.desc:AFTER {
	background: url('/images/desc.gif') center center no-repeat;
}

#data-table tbody {
	font-size: 0.7rem;
}

#data-table tbody tr:nth-child(even) {
	background: none repeat scroll 0 0 #ecf0f1;
}

#data-table tbody td {
	padding: 10px;
	cursor: pointer;
}

#data-table td.programTitle {
	min-width: 200px;
}

#data-table td.synopsis {
	min-width: 300px;
	max-width: 300px;
}

#data-table td.startDate {
	min-width: 130px;
}

#data-table tbody tr:HOVER {
	background-color: #34495e;
	color: white;
}

#data-table td.highlighted {
	background-color: #34495e;
	color: white;
}

#data-table .synopsis-cnt.collapsed {
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	font-size: 1em;
	line-height: 1.2em;
	height: 3.6em;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.color-picker {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	display: inline-block;
}

#data-table td.audience ul,#data-table td.tags ul {
	margin: 0;
	padding: 0;
}

/*drop down menu*/
#table-header {
	height: 2em;
}


#showAllCols,#hideAllCols {
	width: 100%;
	float: none;
	cursor: pointer;
}

#hideAllCols {
	border-bottom: 1px solid;
}

/* forms */
input[type="text"],input[type="email"],input[type="password"] {
	-moz-appearance: none;
	-moz-box-sizing: border-box;
	background-image: -moz-linear-gradient(center top, #FDFDFD 5%, #F0F0F0 100%);
	border: 1px solid #D7D7D7;
	color: #222222;
	font-size: 0.9rem;
	margin: 0 0;
	padding: 5px;
	vertical-align: middle;
}

input[type="button"],input[type="submit"],button {
	background: none repeat scroll 0 0 #1abc9c;
	border: medium none;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 1rem;
	padding: 5px 10px;
}

input[type="checkbox"] {
	margin: 0;
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	background: url('/images/ajax-loader.gif') center center
		no-repeat;
	width: 66px;
	height: 66px;
	margin-top: -33px;
	margin-left: -33px;
}

.table-header-elem {
	display: inline-block;
	background: #1abc9c;
	color: white;
	margin-right: 10px;
	padding: 5px;
}

.pagination {
	display: inline-block;
}

.page {
	display: inline-block;
	background: #1abc9c;
	color: white;
	margin-right: 5px;
	padding: 5px;
}

.selected {
	color: black;
}

.search-result {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	margin: 5px;
}

.search-result:hover {
	background-color: #34495e;
	color: white;
}

.search-poster {
	display: inline-block;
	vertical-align: top;
	width: 33%;
}

.search-poster img {
	width: 100%;
}

.search-infos {
	display: inline-block;
	vertical-align: top;
	width: 66%;
	padding: 2px 0 0 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
}

.search-title {
	padding-bottom: 5px;
}

.search-year {
	color: #666;
}

/*
* Movie infos
*/

#background {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background-color: black;
	opacity: 0.7;
	z-index: 1000;
	width: 100%;
}

#movieInfos {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 2000;
	width: 80%;
	margin: auto;
	background-color: white;
}

.poster {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}

.poster img {
	max-width: 80%;
}

.infos {
	display: inline-block;
	vertical-align: top;
	width: 80%;
}

.title, .originalTitle, .releaseDate, .actors, .directors, .pressRating, .userRating {
	display: inline-block;
	vertical-align: top;
	width: 80%;
	padding-left: 20px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

.label {
	width: 20%;
	color: grey;
	display: inline-block;
	vertical-align: top;
}

.originalTitle {
	color: grey;
}

.rating {
	width: 100px;
	height: 17px;
	background: url('../images/star-grey.png') repeat-x;
	display: inline-block;
}

.rate {
	height: 17px;
	background: url('../images/star-colored.png') repeat-x;
}

.pressRating span, .userRating span {
	font-size: 0.8em;
	line-height: 17px;
	vertical-align: top;
	color: grey;
	margin-left: 5px;
}